body {
    font-family: 'Roboto', sans-serif;
    margin: 2;
    padding: 2;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background-color:  seagreen;
}

.menu-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: seagreen;
}

h1 {
    font-size: 68px;
    color: black;
    margin: 0;
}

.image-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -94px;
}

.image-container img {
    width: 200px;
    height: auto;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.grid-3x3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2x1 {
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: left;
    border-radius: 8px;
}

.card2 {
    background-color: white;
    text-align: left;
    border-radius: 8 px;
    padding: 1rem;
    border: none;
}

.card-img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.buy-btn {
    background-color: #FF6347;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1 1 200px;
    margin-bottom: 0.5rem;
}

.footer-column h3 {
    font-size: 2.5rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;    
}

.social-media-icons a {
    display: inline-block;
    margin-right: 0.5rem;
}

