body {
    font-family: Helvetica, sans-serif;
    max-width: 1000px;
    height: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    background-color: lightgray;

}

nav img {
    height: 50%;
    margin: auto auto auto 1rem; 
}

nav a {
    text-decoration: none;
    color: gray;
    margin: 1rem;
}

nav a:hover {
    background-color: darkgray;
}
